<%- include('templates/header', { user: user }); -%>
<form action="/list" method="POST">
	<label for="name" class="form-label">New List Name</label>
	<input class="form-control" id="name" name="name" required>
	<button class="btn btn-primary">Create List</button>
</form>
<div class="list-group">
	<% lists.forEach(list => { %>
		<a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="/list/<%- list._id %>">
			<%- list.name %>

			<% if (list.items.length) { %>
				<span class="badge bg-primary rounded-pill"><%= list.items.length %></span>
			<% } %>
		</a>
	<% }) %>
</ul>
<%- include('templates/footer', { user: user }); -%>