<%- include('templates/header', { user: user }); -%>
<h1><%= list.name %> (<%= (listProgress * 100).toFixed(2) %>%)</h1>
<% if (listProgress < 1) { %>
	<a href="/list/<%- list._id %>/compare">Sort</a>
<% } %>
<form action="/list/<%- list._id %>/delete">
	<button>Delete</button>
</form>
<form action="/list/<%= list._id %>/item" method="POST">
	<label>Item Name <input name="name" /></label>
	<button>Add Item</button>
</form>
<h2>Sorted</h2>
<a href="/list/<%- list._id %>/reset">Reset</a>
<ul>
	<% order.forEach(i => { %>
		<% if (list.items[i]) { %>
			<li><%= list.items[i].name %></li>
		<% } %>
	<% }) %>
</ul>
<h2>Unsorted</h2>
<ul>
	<% list.items.forEach(item => { %>
		<li>
			<%- item.name %>
			<form action="/list/<%= list._id %>/<%= item._id %>/delete">
				<button>Delete</button>
			</form>
			<form action="/list/<%= list._id %>/<%= item._id %>/reset">
				<button>Reset</button>
			</form>
		</li>
	<% }) %>
</ul>
<h2>Comparisons</h2>
<ul>
	<% denormalizedComparisons.forEach(comparison => { %>
		<li>
			<div class="comparisons">
				<div><%= list.items.find(item => item._id == comparison.a).name %></div>
				<ul>
					<% if (comparison.result === -1) { %>
						<li>&lt;</li>
					<% } else if (comparison.result === 0) { %>
						<li></li>===</li>
					<% } else { %>
						<li>&gt;</li>
					<% } %>
					<li>
						<form action="/list/<%= list._id %>/<%= comparison.a %>/<%= comparison.b %>/reset">
							<button>Delete</button>
						</form>
					</li>
				</ul>
				<div><%= list.items.find(item => item._id == comparison.b).name %></div>
			</div>
		</li>
	<% }) %>
<%- include('templates/footer', { user: user }); -%>