<%- include('../templates/header', { user }); -%>

<%- include('templates/title', { list, listProgress }); -%>

<% if (isOwner) { %>
	<div class="btn-group" role="group" aria-label="List Actions">
		<% if (listProgress < 1) { %>
			<a class="btn btn-primary" href="/list/<%- list._id %>/compare">Sort</a>
		<% } %>
		<a class="btn btn-warning" href="/list/<%- list._id %>/reset">Reset</a>
		<a class="btn btn-danger" href="/list/<%- list._id %>/delete">Delete</a>
		<a class="btn btn-primary" href="/list/<%- list._id %>/public/<%= !list.public %>">Make <%= list.public ? 'Private' : 'Public' %></a>
	</div>
	<form action="/list/<%= list._id %>/item" method="POST">
		<label for="name" class="form-label">New Item Name</label>
		<input class="form-control" id="name" name="name" required>
		<button class="btn btn-primary">Add Item</button>
	</form>
<% } %>

<%- include('templates/sorted', { order, list }); -%>
<%- include('templates/unsorted', { list, isOwner }); -%>
<%- include('templates/comparisons', { denormalizedComparisons, list, isOwner }); -%>

<%- include('../templates/footer', { user }); -%>